Exemplos_Meus/EnviarSMS/AppTesteHuman/AppTesteHuman/Web References/IntegracaoWS/IntegracaoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bgmrodotec.com.br/globus5/globus" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://bgmrodotec.com.br/globus5/globus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bgmrodotec.com.br/globus5/globus">
      <s:element name="SalvarOuAlterarListaTabelaIntegradora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTabelaIntegradora" type="tns:ArrayOfSTabelaIntegradora" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTabelaIntegradora">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sTabelaIntegradora" type="tns:sTabelaIntegradora" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sTabelaIntegradora">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodOperadora" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOperadora" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoDeteccao" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DescTipoDeteccao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VeiculoExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinhaExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensagemDeteccao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataOcorrencia" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Velocidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CodHorariaExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodServicoExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sentido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PassageirosIn" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PassageirosOut" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PassageirosCatraca" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodOcorrenciaExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescOcorrenciaExterno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataGravacao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CodMotoristaExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodCobradorExterno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SalvarOuAlterarListaTabelaIntegradoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalvarOuAlterarListaTabelaIntegradoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarMensagensProData">
        <s:complexType />
      </s:element>
      <s:element name="RetornarMensagensProDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarMensagensProDataResult" type="tns:ArrayOfSMensagens" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSMensagens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sMensagens" type="tns:sMensagens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sMensagens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Grupo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDMensagem" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDMensagemRetorno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDOperador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefixo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IDEmpresa" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SalvarMensagensProData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mensagens" type="tns:ArrayOfSMensagens" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarMensagensProDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetornarVeiculosQueVaoChegarNoLocalDaLinha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLocalidade" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoLinha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarVeiculosQueVaoChegarNoLocalDaLinhaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarVeiculosQueVaoChegarNoLocalDaLinhaResult" type="tns:ArrayOfSRetornoSMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSRetornoSMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sRetornoSMS" type="tns:sRetornoSMS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sRetornoSMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TempoPrevisto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoLinha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeAbrevLinha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigemLinha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinoLinha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sentido" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornarVeiculosQueVaoChegarNoLocal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codLocalidade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarVeiculosQueVaoChegarNoLocalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarVeiculosQueVaoChegarNoLocalResult" type="tns:ArrayOfSRetornoSMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarRecebimentoSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataHoraReceb" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarRecebimentoSMSResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SalvarOuAlterarListaTabelaIntegradoraSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarOuAlterarListaTabelaIntegradora" />
  </wsdl:message>
  <wsdl:message name="SalvarOuAlterarListaTabelaIntegradoraSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarOuAlterarListaTabelaIntegradoraResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarMensagensProDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarMensagensProData" />
  </wsdl:message>
  <wsdl:message name="RetornarMensagensProDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarMensagensProDataResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarMensagensProDataSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarMensagensProData" />
  </wsdl:message>
  <wsdl:message name="SalvarMensagensProDataSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarMensagensProDataResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarVeiculosQueVaoChegarNoLocalDaLinhaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarVeiculosQueVaoChegarNoLocalDaLinha" />
  </wsdl:message>
  <wsdl:message name="RetornarVeiculosQueVaoChegarNoLocalDaLinhaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarVeiculosQueVaoChegarNoLocalDaLinhaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarVeiculosQueVaoChegarNoLocalSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarVeiculosQueVaoChegarNoLocal" />
  </wsdl:message>
  <wsdl:message name="RetornarVeiculosQueVaoChegarNoLocalSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarVeiculosQueVaoChegarNoLocalResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarRecebimentoSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarRecebimentoSMS" />
  </wsdl:message>
  <wsdl:message name="SalvarRecebimentoSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarRecebimentoSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegracaoWSSoap">
    <wsdl:operation name="SalvarOuAlterarListaTabelaIntegradora">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salvar ou alterar lista de registros de detecção gestão de frota online.</wsdl:documentation>
      <wsdl:input message="tns:SalvarOuAlterarListaTabelaIntegradoraSoapIn" />
      <wsdl:output message="tns:SalvarOuAlterarListaTabelaIntegradoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarMensagensProData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna as mensagens do dia.</wsdl:documentation>
      <wsdl:input message="tns:RetornarMensagensProDataSoapIn" />
      <wsdl:output message="tns:RetornarMensagensProDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarMensagensProData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salva mensagens.</wsdl:documentation>
      <wsdl:input message="tns:SalvarMensagensProDataSoapIn" />
      <wsdl:output message="tns:SalvarMensagensProDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarVeiculosQueVaoChegarNoLocalDaLinha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna os veículos que estão na linha informada e vão passa no local informado. </wsdl:documentation>
      <wsdl:input message="tns:RetornarVeiculosQueVaoChegarNoLocalDaLinhaSoapIn" />
      <wsdl:output message="tns:RetornarVeiculosQueVaoChegarNoLocalDaLinhaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarVeiculosQueVaoChegarNoLocal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna os veículos que vão passa no local informado.</wsdl:documentation>
      <wsdl:input message="tns:RetornarVeiculosQueVaoChegarNoLocalSoapIn" />
      <wsdl:output message="tns:RetornarVeiculosQueVaoChegarNoLocalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarRecebimentoSMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salva mensagem SMS.</wsdl:documentation>
      <wsdl:input message="tns:SalvarRecebimentoSMSSoapIn" />
      <wsdl:output message="tns:SalvarRecebimentoSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegracaoWSSoap" type="tns:IntegracaoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalvarOuAlterarListaTabelaIntegradora">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/globus/SalvarOuAlterarListaTabelaIntegradora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarMensagensProData">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/globus/RetornarMensagensProData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarMensagensProData">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/globus/SalvarMensagensProData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarVeiculosQueVaoChegarNoLocalDaLinha">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/globus/RetornarVeiculosQueVaoChegarNoLocalDaLinha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarVeiculosQueVaoChegarNoLocal">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/globus/RetornarVeiculosQueVaoChegarNoLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarRecebimentoSMS">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/globus/SalvarRecebimentoSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegracaoWSSoap12" type="tns:IntegracaoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalvarOuAlterarListaTabelaIntegradora">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/globus/SalvarOuAlterarListaTabelaIntegradora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarMensagensProData">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/globus/RetornarMensagensProData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarMensagensProData">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/globus/SalvarMensagensProData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarVeiculosQueVaoChegarNoLocalDaLinha">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/globus/RetornarVeiculosQueVaoChegarNoLocalDaLinha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarVeiculosQueVaoChegarNoLocal">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/globus/RetornarVeiculosQueVaoChegarNoLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarRecebimentoSMS">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/globus/SalvarRecebimentoSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoWS">
    <wsdl:port name="IntegracaoWSSoap" binding="tns:IntegracaoWSSoap">
      <soap:address location="http://187.115.142.34:8082/wsGlobus5/integracaows.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegracaoWSSoap12" binding="tns:IntegracaoWSSoap12">
      <soap12:address location="http://187.115.142.34:8082/wsGlobus5/integracaows.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>