Exemplos_Internet/SL/GridSample/GridSample/Service References/wcfService/DBService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GridSample.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GridSample.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSelectClientResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectClientResult" nillable="true" type="tns:SelectClientResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectClientResult" nillable="true" type="tns:ArrayOfSelectClientResult" />
  <xs:complexType name="SelectClientResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" type="xs:short" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateofIssue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="issueComment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectClientResult" nillable="true" type="tns:SelectClientResult" />
</xs:schema>