Exemplos_Meus/WFA_TesteWebService/WFA_TesteWebService/Web References/trr/TransportadorRevendedorRetalhistaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista">
      <s:element name="RetornarNotasFiscaisTRR">
        <s:complexType />
      </s:element>
      <s:element name="RetornarNotasFiscaisTRRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarNotasFiscaisTRRResult" type="tns:ArrayOfNotaFiscalTRRDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNotaFiscalTRRDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscalTRRDTO" nillable="true" type="tns:NotaFiscalTRRDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotaFiscalTRRDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodIntNf" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoEmpresa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoForn" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodTpReceita" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodIntProduto" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodLanca" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoFl" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodDoctoCrc" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoGa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCli" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodTpDoc" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFisc" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroNf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SerieNf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusNf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataEmissaoNf" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DataVenctoNf" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="NaturezaOperacaoNf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseCalcIcmsNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="AliquotaIcmsNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorIcmsNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseIcmSubst" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorIcmsSubst" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseIcmsDifNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorFreteNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorSeguroNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="OutrasDespesasNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorTotalProdutosNf" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorTotalNf" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="IntegradoCrc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IntegradoEsf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ObsNf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NfEmitida" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="QtdeSolic" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CodIntNfManifesto" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorUnit" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoNf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroRq" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoVeic" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AliquotaIcmsSub" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="DescricaoEquipamento" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoCondPagto" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroRqDev" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodLancaIcms" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOperFiscal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IntegradoCtb" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem01" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem02" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem03" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem04" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem05" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem06" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem07" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Conferido" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UsuarioConf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DatahoraConf" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UsuarioEmiss" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AliquotaIcmsInterno" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseIcmsInterno" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorIcmsInterno" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TelaOrigem" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoDevolucao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImpBaseCalculo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataSaida" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IcmsGoverno" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseCalcGoverno" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="OutrosImpostos" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Danfe" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TalonarioIni" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TalonarioFim" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodDoctoEsf" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorDiferencaIcmsSubst" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="EmbutirIcmsSubst" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodIntNfSaida" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ContaContabilDeReceita" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CentroDeCustoDoTransportador" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PlacaTransp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DigitaTransp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodTransportador" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseCalcStOrigem" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseCalcStDestino" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="IcmsStOrigem" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="IcmsStDestino" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="CodNcmNf" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataTransferObject" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AchouRegistro" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OcorrenciatrrDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NaoPagaComissao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RegiaoTransporteDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodregiaoTransp" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DescregiaoTransp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorMin" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="PercentualPedido" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OperacaoFiscalEstadoTrrDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodigoEmpresa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoFl" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoGa" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoUf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodIntProduto" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="DtInicioValidade" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFisc" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOperFiscal" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DtFimValidade" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RamoEmpresa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AliquotaIcmsInterno" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="InscSubstitutoTrib" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImpBaseCalculo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PercGoverno" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Contribuinte" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DiferencaIcmsSubst" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscFutura" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="EmbutirIcmsSubst" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodProgFiscal" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscAmbulante" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscOutraUf" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RepasseStOrigem" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="RepasseStDestino" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TipoEmpresa" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NaoImpBaseVlrIcms" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="VlrSituacaoTributaria" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="DtAlteracaoSitTrib" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="IcmsSomenteSubst" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscSrSaida" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscSrEntrada" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscPerda" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscSobra" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscOutEntradas" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscOutSaidas" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodClassFiscNfAssocvFutura" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOperFiscalNfAssocvFutura" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ParametroRespostaTrrDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodigoEmpresa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoFl" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoGa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodParamInterno" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="RespostaParamInterno" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ParametroPerguntaTrrDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodParamInterno" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GrpParamInterno" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoParamInterno" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PerguntaParamInterno" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ParametrosTrrDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodigoEmpresa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoFl" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem01" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoGa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodSegNeg" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem02" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem03" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem04" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem05" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem06" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem07" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PercAceito" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CodContaCtb" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QtdeItenImpressao" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoLocalDefault" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCusto" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodContaCtbTransito" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodContaIcmsVenda" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodContaIcmsRecolher" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCustoPerdaSobra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TanqueTambor" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodEspecieNf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodTpReceitaNf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOpFiscalNfComb" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfVendaCombu" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfVendaCombuTra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfVendaLubrif" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfVendaLubrifTra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfManifestoSaida" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfManifestoEntrada" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOpFiscNfFiltro" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfVendaFiltro" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfVendaFiltroTra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOpFiscalOutras" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfOutrasSaidas" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfOutrasEntradas" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfPerda" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfSobra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KmMinPgtoFrete" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DtHoraNotaFiscal" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ConsideraSabadoDiaUtil" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ConsideraDomingoDiaUtil" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ConsideraFeriadoDiaUtil" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodHistManifSaida" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodHistManifEntrada" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Prioridade" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoModeloNf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataLimite" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="QtdeViasNf" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PermiteRespAbert" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SenhaAlteraDataNf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MdNfDevolucao" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoFornPadDevolucao" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodHistManifSobra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodHistManifDevolucao" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodOpFiscalFutura" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCentroCustoConsumo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodEspecieNfNe" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoUm" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoGenero" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ZonaDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodigoZona" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DescricaoZona" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GenericoConsultaBasicaPorCondicoesX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicoes" type="tns:ArrayOfSCondicaoAdicionalCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSCondicaoAdicionalCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sCondicaoAdicionalCriteria" type="tns:sCondicaoAdicionalCriteria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sCondicaoAdicionalCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Propriedade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" />
          <s:element minOccurs="1" maxOccurs="1" name="Operador" type="tns:eOperador" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorInicial" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorFinal" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eOperador">
        <s:restriction base="s:string">
          <s:enumeration value="Igual" />
          <s:enumeration value="Diferente" />
          <s:enumeration value="MaiorOuIgual" />
          <s:enumeration value="MenorOuIgual" />
          <s:enumeration value="Entre" />
          <s:enumeration value="Contido" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDataTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataTransferObject" nillable="true" type="tns:DataTransferObject" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenericoConsultaBasicaPorCondicoesXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoConsultaBasicaPorCondicoesXResult" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarNotaFiscaltrrPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codIntNf" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarNotaFiscaltrrPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarNotaFiscaltrrPorChaveResult" type="tns:NotaFiscalTRRDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarOuAlterarNotaFiscaltrr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notaFiscaltrrDTO" type="tns:NotaFiscalTRRDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarOuAlterarNotaFiscaltrrResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetornarProdutosTRR">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfProdutosDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProdutosDTO" nillable="true" type="tns:ProdutosDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProdutosDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodigoEmpresa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodIntProduto" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodEspecie" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoSubGrupo" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoFl" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoGa" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoMatInt" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoMarcaMat" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoLocal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodProduto" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodSitTributaria" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DescProd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoUm" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodDivisao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AplicacaoProd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GrupoProd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoProd" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="VlrSituacaoTributaria" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="DtAlteracaoSitTrib" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ProdAceitaMistura" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProdAceitaDesconto" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProdObservacao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DigitoVerMat" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VlrMediaVenda" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="IcmsSomenteSubst" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PesoLiquido" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="PesoBruto" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="CodNcm" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodContaCtb" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CodScanc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeContaReceita" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodContaCtbTransito" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeContaReceitaTransito" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCtaPerdaSobra" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCtaConsumo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeCtaPerdaSobra" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeCtaConsumo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProdOnu" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IndiceCalc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoGenero" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCtaDevolucao" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeCtaDevolucao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CCustoFinanceiro" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeCCustoFinanceiro" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TpReceitaProduto" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeTpReceitaProduto" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Litragem" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CodCtaFutura" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeCtaFutura" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProibirDesconto" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MargemPrevista" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="CodAnp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DensidadeKgAnp" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="RetornarProdutosTRRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarProdutosTRRResult" type="tns:ArrayOfProdutosDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarProdutoTRRPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codIntProduto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarProdutoTRRPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarProdutoTRRPorChaveResult" type="tns:ProdutosDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarOuAlterarProdutoTRR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="produtosDTO" type="tns:ProdutosDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarOuAlterarProdutoTRRResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetornarSituacaoTributaria">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfSituacaoTributariaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SituacaoTributariaDTO" nillable="true" type="tns:SituacaoTributariaDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SituacaoTributariaDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodSitTributaria" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DescSitTributaria" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="RetornarSituacaoTributariaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarSituacaoTributariaResult" type="tns:ArrayOfSituacaoTributariaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarSituacaoTributariaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codSitTributaria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarSituacaoTributariaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarSituacaoTributariaPorChaveResult" type="tns:SituacaoTributariaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarOperacaoPorEmpresaFilialGaragem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empresa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="filial" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="garagem" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOperacaoFiscalEstadoTrrDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OperacaoFiscalEstadoTrrDTO" nillable="true" type="tns:OperacaoFiscalEstadoTrrDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornarOperacaoPorEmpresaFilialGaragemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarOperacaoPorEmpresaFilialGaragemResult" type="tns:ArrayOfOperacaoFiscalEstadoTrrDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarOperacaoPorEmpresaFilialGaragemUF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empresa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="filial" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="garagem" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="uf" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarOperacaoPorEmpresaFilialGaragemUFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarOperacaoPorEmpresaFilialGaragemUFResult" type="tns:ArrayOfOperacaoFiscalEstadoTrrDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarOperacaoPorEmpresaFilialGaragemUFVigencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empresa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="filial" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="garagem" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="uf" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vigencia" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaResult" type="tns:ArrayOfOperacaoFiscalEstadoTrrDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoApagar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoApagarResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenericoApagaLista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaDataTransferObject" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoApagaListaResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenericoSalvarOuAlterar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoSalvarOuAlterarResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenericoSalvarLista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaDataTransferObject" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoSalvarListaResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenericoSalvarOuAlterarLista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaDataTransferObject" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoSalvarOuAlterarListaResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenericoRetornarProximoValorPropriedadePorCondicoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicoes" type="tns:ArrayOfSCondicaoAdicionalCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarProximoValorPropriedadePorCondicoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenericoRetornarProximoValorPropriedadePorCondicoesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarProximoValorPropriedadePorCondicao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedadeCondicao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="operadorCondicao" type="tns:eOperador" />
            <s:element minOccurs="0" maxOccurs="1" name="valorCondicao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarProximoValorPropriedadePorCondicaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenericoRetornarProximoValorPropriedadePorCondicaoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarProximoValorPropriedade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarProximoValorPropriedadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenericoRetornarProximoValorPropriedadeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarMaximoValorPropriedadePorCondicoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicoes" type="tns:ArrayOfSCondicaoAdicionalCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarMaximoValorPropriedadePorCondicoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoRetornarMaximoValorPropriedadePorCondicoesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarMaximoValorPropriedadePorCondicao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedadeCondicao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="operadorCondicao" type="tns:eOperador" />
            <s:element minOccurs="0" maxOccurs="1" name="valorCondicao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarMaximoValorPropriedadePorCondicaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoRetornarMaximoValorPropriedadePorCondicaoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarMaximoValorPropriedade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferObject" type="tns:DataTransferObject" />
            <s:element minOccurs="0" maxOccurs="1" name="nomePropriedade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarMaximoValorPropriedadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoRetornarMaximoValorPropriedadeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaPorChave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chave" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaPorChaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoConsultaPorChaveResult" type="tns:DataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoRetornarTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoRetornarTodosResult" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicoes" type="tns:ArrayOfSCondicaoAdicionalCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoConsultaBasicaPorCondicoesResult" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="condicao" type="tns:sCondicaoAdicionalCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoConsultaBasicaPorCondicaoResult" type="tns:ArrayOfDataTransferObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicoesDosCampos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicoes" type="tns:ArrayOfSCondicaoAdicionalCriteria" />
            <s:element minOccurs="0" maxOccurs="1" name="campos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenericoConsultaBasicaPorCondicoesDosCamposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoConsultaBasicaPorCondicoesDosCamposResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicaoDosCampos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAcesso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeDTO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="condicao" type="tns:sCondicaoAdicionalCriteria" />
            <s:element minOccurs="0" maxOccurs="1" name="campos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenericoConsultaBasicaPorCondicaoDosCamposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenericoConsultaBasicaPorCondicaoDosCamposResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarDataHoraBanco">
        <s:complexType />
      </s:element>
      <s:element name="RetornarDataHoraBancoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetornarDataHoraBancoResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarDadosDeConexao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="sDadosDeConexao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StringDeConexao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornarDadosDeConexaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetornarDadosDeConexaoResult" type="tns:sDadosDeConexao" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornarNotasFiscaisTRRSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarNotasFiscaisTRR" />
  </wsdl:message>
  <wsdl:message name="RetornarNotasFiscaisTRRSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarNotasFiscaisTRRResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicoesXSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicoesX" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicoesXSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicoesXResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarNotaFiscaltrrPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarNotaFiscaltrrPorChave" />
  </wsdl:message>
  <wsdl:message name="RetornarNotaFiscaltrrPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarNotaFiscaltrrPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarOuAlterarNotaFiscaltrrSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarOuAlterarNotaFiscaltrr" />
  </wsdl:message>
  <wsdl:message name="SalvarOuAlterarNotaFiscaltrrSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarOuAlterarNotaFiscaltrrResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarProdutosTRRSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarProdutosTRR" />
  </wsdl:message>
  <wsdl:message name="RetornarProdutosTRRSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarProdutosTRRResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarProdutoTRRPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarProdutoTRRPorChave" />
  </wsdl:message>
  <wsdl:message name="RetornarProdutoTRRPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarProdutoTRRPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarOuAlterarProdutoTRRSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarOuAlterarProdutoTRR" />
  </wsdl:message>
  <wsdl:message name="SalvarOuAlterarProdutoTRRSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarOuAlterarProdutoTRRResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarSituacaoTributariaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarSituacaoTributaria" />
  </wsdl:message>
  <wsdl:message name="RetornarSituacaoTributariaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarSituacaoTributariaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarSituacaoTributariaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarSituacaoTributariaPorChave" />
  </wsdl:message>
  <wsdl:message name="RetornarSituacaoTributariaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarSituacaoTributariaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarOperacaoPorEmpresaFilialGaragemSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarOperacaoPorEmpresaFilialGaragem" />
  </wsdl:message>
  <wsdl:message name="RetornarOperacaoPorEmpresaFilialGaragemSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarOperacaoPorEmpresaFilialGaragemResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarOperacaoPorEmpresaFilialGaragemUFSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarOperacaoPorEmpresaFilialGaragemUF" />
  </wsdl:message>
  <wsdl:message name="RetornarOperacaoPorEmpresaFilialGaragemUFSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarOperacaoPorEmpresaFilialGaragemUFResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarOperacaoPorEmpresaFilialGaragemUFVigencia" />
  </wsdl:message>
  <wsdl:message name="RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoApagarSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoApagar" />
  </wsdl:message>
  <wsdl:message name="GenericoApagarSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoApagarResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoApagaListaSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoApagaLista" />
  </wsdl:message>
  <wsdl:message name="GenericoApagaListaSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoApagaListaResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoSalvarOuAlterarSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoSalvarOuAlterar" />
  </wsdl:message>
  <wsdl:message name="GenericoSalvarOuAlterarSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoSalvarOuAlterarResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoSalvarListaSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoSalvarLista" />
  </wsdl:message>
  <wsdl:message name="GenericoSalvarListaSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoSalvarListaResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoSalvarOuAlterarListaSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoSalvarOuAlterarLista" />
  </wsdl:message>
  <wsdl:message name="GenericoSalvarOuAlterarListaSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoSalvarOuAlterarListaResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarProximoValorPropriedadePorCondicoesSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarProximoValorPropriedadePorCondicoes" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarProximoValorPropriedadePorCondicoesSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarProximoValorPropriedadePorCondicoesResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarProximoValorPropriedadePorCondicaoSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarProximoValorPropriedadePorCondicao" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarProximoValorPropriedadePorCondicaoSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarProximoValorPropriedadePorCondicaoResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarProximoValorPropriedadeSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarProximoValorPropriedade" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarProximoValorPropriedadeSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarProximoValorPropriedadeResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarMaximoValorPropriedadePorCondicoesSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarMaximoValorPropriedadePorCondicoes" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarMaximoValorPropriedadePorCondicoesSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarMaximoValorPropriedadePorCondicoesResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarMaximoValorPropriedadePorCondicaoSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarMaximoValorPropriedadePorCondicao" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarMaximoValorPropriedadePorCondicaoSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarMaximoValorPropriedadePorCondicaoResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarMaximoValorPropriedadeSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarMaximoValorPropriedade" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarMaximoValorPropriedadeSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarMaximoValorPropriedadeResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaPorChaveSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoConsultaPorChave" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaPorChaveSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoConsultaPorChaveResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarTodosSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoRetornarTodos" />
  </wsdl:message>
  <wsdl:message name="GenericoRetornarTodosSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoRetornarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicoesSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicoes" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicoesSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicoesResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicaoSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicao" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicaoSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicaoResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicoesDosCamposSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicoesDosCampos" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicoesDosCamposSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicoesDosCamposResponse" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicaoDosCamposSoapIn">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicaoDosCampos" />
  </wsdl:message>
  <wsdl:message name="GenericoConsultaBasicaPorCondicaoDosCamposSoapOut">
    <wsdl:part name="parameters" element="tns:GenericoConsultaBasicaPorCondicaoDosCamposResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarDataHoraBancoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarDataHoraBanco" />
  </wsdl:message>
  <wsdl:message name="RetornarDataHoraBancoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarDataHoraBancoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarDadosDeConexaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarDadosDeConexao" />
  </wsdl:message>
  <wsdl:message name="RetornarDadosDeConexaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarDadosDeConexaoResponse" />
  </wsdl:message>
  <wsdl:portType name="TransportadorRevendedorRetalhistaWSSoap">
    <wsdl:operation name="RetornarNotasFiscaisTRR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna todas as Notas Fiscais do TRR.</wsdl:documentation>
      <wsdl:input message="tns:RetornarNotasFiscaisTRRSoapIn" />
      <wsdl:output message="tns:RetornarNotasFiscaisTRRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoesX">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna todas as Notas Fiscais do TRR.</wsdl:documentation>
      <wsdl:input message="tns:GenericoConsultaBasicaPorCondicoesXSoapIn" />
      <wsdl:output message="tns:GenericoConsultaBasicaPorCondicoesXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarNotaFiscaltrrPorChave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna Nota Fiscal do TRR pela chave.</wsdl:documentation>
      <wsdl:input message="tns:RetornarNotaFiscaltrrPorChaveSoapIn" />
      <wsdl:output message="tns:RetornarNotaFiscaltrrPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarOuAlterarNotaFiscaltrr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salva ou altera Nota Fiscal do TRR.</wsdl:documentation>
      <wsdl:input message="tns:SalvarOuAlterarNotaFiscaltrrSoapIn" />
      <wsdl:output message="tns:SalvarOuAlterarNotaFiscaltrrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarProdutosTRR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna Produtos do TRR.</wsdl:documentation>
      <wsdl:input message="tns:RetornarProdutosTRRSoapIn" />
      <wsdl:output message="tns:RetornarProdutosTRRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarProdutoTRRPorChave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna Produtos do TRR pela chave.</wsdl:documentation>
      <wsdl:input message="tns:RetornarProdutoTRRPorChaveSoapIn" />
      <wsdl:output message="tns:RetornarProdutoTRRPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarOuAlterarProdutoTRR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salva ou altera Produto do TRR.</wsdl:documentation>
      <wsdl:input message="tns:SalvarOuAlterarProdutoTRRSoapIn" />
      <wsdl:output message="tns:SalvarOuAlterarProdutoTRRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarSituacaoTributaria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna situao tributria.</wsdl:documentation>
      <wsdl:input message="tns:RetornarSituacaoTributariaSoapIn" />
      <wsdl:output message="tns:RetornarSituacaoTributariaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarSituacaoTributariaPorChave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna situao tributria pela chave.</wsdl:documentation>
      <wsdl:input message="tns:RetornarSituacaoTributariaPorChaveSoapIn" />
      <wsdl:output message="tns:RetornarSituacaoTributariaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna as operacoes por empresa, filial e garagem.</wsdl:documentation>
      <wsdl:input message="tns:RetornarOperacaoPorEmpresaFilialGaragemSoapIn" />
      <wsdl:output message="tns:RetornarOperacaoPorEmpresaFilialGaragemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragemUF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna as operacoes por empresa, filial, garagem e uf.</wsdl:documentation>
      <wsdl:input message="tns:RetornarOperacaoPorEmpresaFilialGaragemUFSoapIn" />
      <wsdl:output message="tns:RetornarOperacaoPorEmpresaFilialGaragemUFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragemUFVigencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna as operacoes por empresa, filial, garagem, uf e vigncia.</wsdl:documentation>
      <wsdl:input message="tns:RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaSoapIn" />
      <wsdl:output message="tns:RetornarOperacaoPorEmpresaFilialGaragemUFVigenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoApagar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Apaga genrico.</wsdl:documentation>
      <wsdl:input message="tns:GenericoApagarSoapIn" />
      <wsdl:output message="tns:GenericoApagarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoApagaLista">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Apaga listas genrico.</wsdl:documentation>
      <wsdl:input message="tns:GenericoApagaListaSoapIn" />
      <wsdl:output message="tns:GenericoApagaListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarOuAlterar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salva ou altera genrico.</wsdl:documentation>
      <wsdl:input message="tns:GenericoSalvarOuAlterarSoapIn" />
      <wsdl:output message="tns:GenericoSalvarOuAlterarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarLista">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salva listas genrico.</wsdl:documentation>
      <wsdl:input message="tns:GenericoSalvarListaSoapIn" />
      <wsdl:output message="tns:GenericoSalvarListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarOuAlterarLista">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Salvar ou alterar listas genrico.</wsdl:documentation>
      <wsdl:input message="tns:GenericoSalvarOuAlterarListaSoapIn" />
      <wsdl:output message="tns:GenericoSalvarOuAlterarListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedadePorCondicoes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar o prximo valor da propriedade informada conforme a lista de condies passadas.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarProximoValorPropriedadePorCondicoesSoapIn" />
      <wsdl:output message="tns:GenericoRetornarProximoValorPropriedadePorCondicoesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedadePorCondicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar o prximo valor da propriedade informada conforme a condio passada.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarProximoValorPropriedadePorCondicaoSoapIn" />
      <wsdl:output message="tns:GenericoRetornarProximoValorPropriedadePorCondicaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedade">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar o prximo valor da propriedade informada.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarProximoValorPropriedadeSoapIn" />
      <wsdl:output message="tns:GenericoRetornarProximoValorPropriedadeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedadePorCondicoes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar o maximo valor da propriedade informada conforme a lista de condies passadas.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarMaximoValorPropriedadePorCondicoesSoapIn" />
      <wsdl:output message="tns:GenericoRetornarMaximoValorPropriedadePorCondicoesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedadePorCondicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar o maximo valor da propriedade informada conforme a condio passada.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarMaximoValorPropriedadePorCondicaoSoapIn" />
      <wsdl:output message="tns:GenericoRetornarMaximoValorPropriedadePorCondicaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedade">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna o maximo valor da propriedade informada.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarMaximoValorPropriedadeSoapIn" />
      <wsdl:output message="tns:GenericoRetornarMaximoValorPropriedadeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaPorChave">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta por chave.</wsdl:documentation>
      <wsdl:input message="tns:GenericoConsultaPorChaveSoapIn" />
      <wsdl:output message="tns:GenericoConsultaPorChaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar lista com todos os ObjetoDTO da base de dados.</wsdl:documentation>
      <wsdl:input message="tns:GenericoRetornarTodosSoapIn" />
      <wsdl:output message="tns:GenericoRetornarTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta bsica por condies.</wsdl:documentation>
      <wsdl:input message="tns:GenericoConsultaBasicaPorCondicoesSoapIn" />
      <wsdl:output message="tns:GenericoConsultaBasicaPorCondicoesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta bsica por condio.</wsdl:documentation>
      <wsdl:input message="tns:GenericoConsultaBasicaPorCondicaoSoapIn" />
      <wsdl:output message="tns:GenericoConsultaBasicaPorCondicaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoesDosCampos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta bsica por condies dos campos informados.</wsdl:documentation>
      <wsdl:input message="tns:GenericoConsultaBasicaPorCondicoesDosCamposSoapIn" />
      <wsdl:output message="tns:GenericoConsultaBasicaPorCondicoesDosCamposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicaoDosCampos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta bsica por condio dos campos informados.</wsdl:documentation>
      <wsdl:input message="tns:GenericoConsultaBasicaPorCondicaoDosCamposSoapIn" />
      <wsdl:output message="tns:GenericoConsultaBasicaPorCondicaoDosCamposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarDataHoraBanco">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a data hora do banco de dados.</wsdl:documentation>
      <wsdl:input message="tns:RetornarDataHoraBancoSoapIn" />
      <wsdl:output message="tns:RetornarDataHoraBancoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarDadosDeConexao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retornar dados de conexo do banco(StringDeConexao\Servidor\Usuario\Senha).</wsdl:documentation>
      <wsdl:input message="tns:RetornarDadosDeConexaoSoapIn" />
      <wsdl:output message="tns:RetornarDadosDeConexaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransportadorRevendedorRetalhistaWSSoap" type="tns:TransportadorRevendedorRetalhistaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarNotasFiscaisTRR">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarNotasFiscaisTRR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoesX">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicoesX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarNotaFiscaltrrPorChave">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarNotaFiscaltrrPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarOuAlterarNotaFiscaltrr">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/SalvarOuAlterarNotaFiscaltrr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProdutosTRR">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarProdutosTRR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProdutoTRRPorChave">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarProdutoTRRPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarOuAlterarProdutoTRR">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/SalvarOuAlterarProdutoTRR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSituacaoTributaria">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarSituacaoTributaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSituacaoTributariaPorChave">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarSituacaoTributariaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragem">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarOperacaoPorEmpresaFilialGaragem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragemUF">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarOperacaoPorEmpresaFilialGaragemUF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragemUFVigencia">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarOperacaoPorEmpresaFilialGaragemUFVigencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoApagar">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoApagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoApagaLista">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoApagaLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarOuAlterar">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoSalvarOuAlterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarLista">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoSalvarLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarOuAlterarLista">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoSalvarOuAlterarLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedadePorCondicoes">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarProximoValorPropriedadePorCondicoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedadePorCondicao">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarProximoValorPropriedadePorCondicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedade">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarProximoValorPropriedade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedadePorCondicoes">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarMaximoValorPropriedadePorCondicoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedadePorCondicao">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarMaximoValorPropriedadePorCondicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedade">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarMaximoValorPropriedade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaPorChave">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaPorChave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarTodos">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoes">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicao">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoesDosCampos">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicoesDosCampos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicaoDosCampos">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicaoDosCampos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarDataHoraBanco">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarDataHoraBanco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarDadosDeConexao">
      <soap:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarDadosDeConexao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransportadorRevendedorRetalhistaWSSoap12" type="tns:TransportadorRevendedorRetalhistaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarNotasFiscaisTRR">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarNotasFiscaisTRR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoesX">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicoesX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarNotaFiscaltrrPorChave">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarNotaFiscaltrrPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarOuAlterarNotaFiscaltrr">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/SalvarOuAlterarNotaFiscaltrr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProdutosTRR">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarProdutosTRR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProdutoTRRPorChave">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarProdutoTRRPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarOuAlterarProdutoTRR">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/SalvarOuAlterarProdutoTRR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSituacaoTributaria">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarSituacaoTributaria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSituacaoTributariaPorChave">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarSituacaoTributariaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragem">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarOperacaoPorEmpresaFilialGaragem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragemUF">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarOperacaoPorEmpresaFilialGaragemUF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarOperacaoPorEmpresaFilialGaragemUFVigencia">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarOperacaoPorEmpresaFilialGaragemUFVigencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoApagar">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoApagar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoApagaLista">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoApagaLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarOuAlterar">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoSalvarOuAlterar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarLista">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoSalvarLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoSalvarOuAlterarLista">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoSalvarOuAlterarLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedadePorCondicoes">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarProximoValorPropriedadePorCondicoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedadePorCondicao">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarProximoValorPropriedadePorCondicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarProximoValorPropriedade">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarProximoValorPropriedade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedadePorCondicoes">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarMaximoValorPropriedadePorCondicoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedadePorCondicao">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarMaximoValorPropriedadePorCondicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarMaximoValorPropriedade">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarMaximoValorPropriedade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaPorChave">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaPorChave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoRetornarTodos">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoRetornarTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoes">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicao">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicoesDosCampos">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicoesDosCampos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericoConsultaBasicaPorCondicaoDosCampos">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/GenericoConsultaBasicaPorCondicaoDosCampos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarDataHoraBanco">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarDataHoraBanco" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarDadosDeConexao">
      <soap12:operation soapAction="http://bgmrodotec.com.br/globus5/transportadorRevendedorRetalhista/RetornarDadosDeConexao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportadorRevendedorRetalhistaWS">
    <wsdl:port name="TransportadorRevendedorRetalhistaWSSoap" binding="tns:TransportadorRevendedorRetalhistaWSSoap">
      <soap:address location="http://localhost:1503/TransportadorRevendedorRetalhistaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TransportadorRevendedorRetalhistaWSSoap12" binding="tns:TransportadorRevendedorRetalhistaWSSoap12">
      <soap12:address location="http://localhost:1503/TransportadorRevendedorRetalhistaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>