Exemplos_Internet/WebService/SecurityTokens/client/Web References/SecureServiceProxy/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="perform">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="performResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="performSoapIn">
    <part name="parameters" element="s0:perform" />
  </message>
  <message name="performSoapOut">
    <part name="parameters" element="s0:performResponse" />
  </message>
  <portType name="Service1Soap">
    <operation name="perform">
      <input message="s0:performSoapIn" />
      <output message="s0:performSoapOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="perform">
      <soap:operation soapAction="http://tempuri.org/perform" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://hydhtc35369/kerberos/service/Service1.asmx" />
    </port>
  </service>
</definitions>